.container {
    background-color: #FFFFFF;
    margin: 1.5rem 2rem;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px #00000040;
}

.time {
    color: #353535;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: small;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #353535;
    border-radius: 50%;
}