.container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon {
    color: #FFFFFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: larger;
    margin-left: 20px;
}